/**{
	box-sizing: border-box;
	margin:  0;
	padding: 0;
	border:  0;
	outline: 0;
}
	
.wrapper{
	display:flex;
	font-size: 2vw;
	height: 29em;
	width: 8em;
}
	
	.leftside{
		display:flex;
		height:28em;
		width:20em;
	}
		
		#pokegrid{
			display:flexbox;
			height:26em;
			width:15em;
			margin:0.5em;
			border: 0.2em  solid black;
			text-align: center;
		}
			.pokegridlay{
				margin:0.3em;
				text-align: center;
				border: 0.2em solid black;
			}
			/*.poke1{
				background-color: green;
			}*/

		.rightside{
			display:flex;
			height:28em;
			width:35em;
		}	
			.pokedisplay{
				display:flexbox;
				height:26em;
				width:15em;
				margin:0.5em;
				border: 0.2em  solid black;
			}*/
